/*html {
    min-height: 100%;
}

img {
    max-width: 100%;
}

.header {
    padding: 0px 30px;
}
*/
#alert {

    display: none;
    position: fixed;
    left: 36px;
    bottom: 16px;
}


#loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #999;
    z-index: 1000;
    opacity: .7;
    display: none;
}

#loading_img {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
}

.loading {
    margin: auto;
    display: block;
}
/*

.form-group.action-button {
    text-align: right;
    margin-right: 0px;
    margin-bottom: 0px;
}

#meteo_form .row.form-group {
    min-height: 49px;
}

.list-pistes a .badge-success::after {
    content: "Ouvert";
}

.list-pistes a .badge-danger::after {
    content: "Fermé";
}

.list-pistes a .badge-success {
    background-color: #40bb0d !important;
}

.list-pistes a .badge-danger {
    background-color: #d9230f !important;
}*/